body{
    position: relative;
}
section{
    display: flex;
}
.center{
    width: 50%;
}
legend, h1{
    color: var(--font);
}
h1{
    font-size: var(--text);
}
form fieldset{
    position: relative;
}
form input[type="submit"]{
    border: 1px solid var(--font);
    border-radius: 5px;
    margin: 0;
    position: absolute;
    width: 8%;
    height: 50%;
    left: 90%;
    top: 20%;
}
.center fieldset h1{
    text-transform: uppercase;
}
.center .box-button{
    border: none;
    text-align: center;
}
.center .box-button button{
    padding: 0.7vw;
    background-color: #000;
    color: var(--font);
    border: 1px solid;
    width: 25%;
}
.center .box-button button:hover{
    box-shadow: 0px 0px 4px rgb(172, 168, 168);
}
@media screen and (max-width: 700px) {
    .center .box-button button{
        width: auto;
    }
    form input[type="submit"]{
        width: auto;
        left: 80%;
    }
}