section{
    display: flex;
}
.center{
    width: 50%;
}
legend, h1{
    color: var(--font);
}
h1{
    font-size: var(--text);
}
form fieldset{
    position: relative;
}
form input[type="submit"]{
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    width: 8%;
    height: 50%;
    left: 90%;
    top: 20%;
}
.center fieldset h1{
    text-transform: uppercase;
}