section .center .with-add{
    display: none;
}
section .center .with-add abbr{
    text-decoration: none;
}
section .center .with-add #btt-prot{
    margin: auto 0.1vw;
    width: 5%;
}
section .center .with-add #btt-prot button{
    display: block;
}
section .center .with-add #ports{
    margin: 0.2vw;
    width: 95%;
    display: grid; 
    grid-template-columns : repeat(3,1fr);
}
section .center .with-add #ports select{
    margin: 0.6vw;
    width: auto;
    font-size: var(--text);
    scrollbar-width: 12px;
}
section .center .with-add .blink{
    text-decoration: none;
}
section .center .with-add button{
    width: 100%;
    margin: 0.5vw;
    background-color: #000000c4;
    color: var(--font);
    border: 1px solid var(--font);
    padding: 0.5vw;
}
section .center form .target-rules{
    grid-template-columns: repeat(3,1fr);
}
section .center form .target-rules > *{
    margin-left: 0;
}
section .center form .target-rules #interf{
    margin-right: 0;
}
section .center form #prot{
    display: flex;
}
section .center form #prot div{
    margin: 0.2vw;
}
section .center form #prot div:hover{
    cursor: pointer;
}
section .center form .port{
    height: 4vw;
}
#src:hover, #dest:hover{
    cursor: pointer;
}
section .center form .type-machine{
    display: none;
}
section .center form .type-machine input{
    font-size: var(--text);
}
section .center form .type-machine > *{
    padding: 0.5vw;
    margin: 1vw;
}
section .center form .under{
    width: 15%;
    margin: 2vw 3vw 1vw auto;
    padding: 1.3vw;
    border: var(--border);
    background-color: #023502;
    position: relative;
    box-shadow: none;
}
section .center form .under .over{
    width: 100%;
    height: 100%;
    padding: 0.5vw;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background-color: #141313;
    text-align: center;
}
section .center form .under:hover .over{
    --white-cl: #fff;
    bottom: 4px;
    right: 4px;
    border: 1px solid var(--white-cl);
}
section .center form .under .over input[type="submit"]{
    font-size: var(--text);
    font-weight: bolder;
    letter-spacing: 2px;
    color: var(--font);
    border-style: none;
}
section .center form .under i{
    display: none;
}
section .center form .under:hover i{
    display: contents;
    color: var(--font);
}
::-webkit-scrollbar{
    width: 7px;
    height: 5px;
    background-color: #064406;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    border: 1px solid #064406;
    border-radius: 3px;
    background-color: #186418;
}