section #reset-button{
    width: 30%;
    margin: 1vw 35%;
    padding: 0.4vw;
    border-radius: 5px;
    border: 1px solid var(--font);
    color: var(--font);
    background-color: #111111;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
section #reset-button:hover{
    box-shadow: 1px 1px 5px #d6cfcf;
}
section .center{
    margin: 0.5vw;
    padding: 1vw;
    font-size: 1em;
    color: var(--font);
}
section fieldset legend{
    font-size: var(--text);
    color: var(--font);
    padding: 5px;
    margin: auto;
}
section .center .each-rule{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
section .center .each-rule .action button{
    width: 45%;
    height: 100%;
    background-color: #000;
    border: 1px solid var(--font);
}